.tweeting-section {
  border: solid rgb(55, 55, 55);
  border-width: 1px;
  display: flex;
  margin-top: 54px;
  margin-left: 594px;
  width: 600px;
  height: 120px;
}

.pfp-container-2 {
  height: 36px;
  margin-top: 16px;
  margin-left: 14px;
  padding-right: 20px;
}

.post-bar {
  margin-top: 24px;
  font-size: 20px;
  color: rgb(100, 100, 100);
}

.post-button-2 {
  background-color: rgb(33, 86, 129);
  color: rgb(131, 131, 131);
  font-size: 14px;
  font-weight: 700;
  border: none;
  width: 68px;
  height: 34px;
  border-radius: 50px;
  margin-top: 74px;
  margin-left: 240px;
}
