.right-panel {
  display: flex;
  flex-direction: column;
  flex: 1.5fr;
}

.sidebar-right {
  margin-left: 1195px;
  padding-left: 29px;
  border-left: solid;
  border-width: 1px;
  border-color: rgb(55, 55, 55);
  height: 9999px;
}

.subscribe-ad {
  background-color: rgb(22, 23, 30);
  height: 140px;
  width: 350px;
  margin-top: -130px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.subscribe-main {
  font-size: 20px;
  font-weight: 700;
  padding-top: 14px;
  padding-left: 20px;
}

.subscribe-info {
  width: 280px;
  padding-top: 10px;
  padding-left: 20px;
}

.subscribe-button {
  background-color: rgb(0, 140, 255);
  color: white;
  margin-top: 16px;
  margin-left: 16px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  width: 110px;
  height: 34px;
  border-radius: 50px;
}

.subscribe-button:hover {
  background-color: rgb(0, 111, 201);
  cursor: pointer;
}

.trends-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 23, 30);
  border-radius: 20px;
  width: 350px;
}

.trends-header {
  font-weight: 700;
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 16px;
}

.trend {
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
}

.trend:hover {
  background-color: rgb(31, 32, 42);
  cursor: pointer;
  transition: 0.25s;
}

.trend-topic {
  padding-left: 14px;
}

.trend-text{
  padding-bottom: 6px;
  color: rgb(155, 155, 155);
  font-size: 12px;
}

.trending-subject {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 6px;
}

.trend-posts {
  color: rgb(155, 155, 155);
  font-size: 12px;
}

.three-dots {
  padding-right: 20px;
  margin-top: -2px;
}

.show-more {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  color: rgb(0, 140, 255);
  font-size: 15px;
}

.show-more:hover {
  border-radius: 0  0px  24px  24px;
  background-color: rgb(31, 32, 42);
  cursor: pointer;
  transition: 0.25s;
}

.follow-recommends {
  background-color: rgb(22, 23, 30);
  margin-top: 20px;
  margin-bottom: 20px;
  height: 310px;
  width: 350px;
  border-radius: 20px;
}

.follow-main {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.profile-card-2 {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.profile-card-2:hover {
  background-color: rgb(31, 32, 42);
  cursor: pointer;
  transition: 0.25s;
}

.profile-picture-2 {
  height: 44px;
  width: 44px;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
  padding-right: 10px;
}

.profile-info-2 {
  width: 100px;
  padding-right: 80px;
}

.profile-name-2 {
  font-weight: 700;
  margin-bottom: 6px;
}

.profile-tag-2 {
  color: rgb(150, 150, 150);
}

.follow-button {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-top: 0px;
  margin-left: 0px;
  font-weight: 700;
  border: none;
  width: 80px;
  height: 32px;
  border-radius: 50px;
}

.show-more-2 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  color: rgb(0, 140, 255);
  font-size: 15px;
}

.show-more-2:hover {
  border-radius: 0  0px  20px  20px;
  background-color: rgb(31, 32, 42);
  cursor: pointer;
  transition: 0.25s;
}

.messages-bar {
  display: flex;
  position: fixed;
  top: 926px;
  bottom: -15px;
  left: 1482px;
  right: 20px;
  z-index: 300;
  background-color: black;
  border-radius: 18px;
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.messages-text {
  font-size: 20px;
  font-weight: 700;
  margin-top: 16px;
  margin-left: 20px;
}

.bar-extend-icon {
  height: 20px;
}

.help-section {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 40px;
  margin-left: 20px;
  justify-content: space-between;
}

.help-row-1 {
  display: flex;
}

.help-row-2 {
  display: flex;
}

.help-info {
  color: rgb(150, 150, 150);
  padding-right: 10px;
}

.copy-right {
  color: rgb(150, 150, 150);
  padding-left: 20px;
  padding-top: 10px;
}
