.left-panel {
  display: flex;
  flex: 1fr;
}

.nav-list {
  background-color: black;
  display: flex;
  flex-direction: column;
  border-right: solid rgb(55, 55, 55);
  border-width: 1px;
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 254px;
  padding-left: 340px;
  padding-top: 10px;
  z-index: 200;
}

.x-logo,
.home-icon,
.explore-icon,
.notifications-icon,
.messages-icon,
.lists-icon,
.bookmarks-icon,
.communities-icon,
.premium-icon,
.profile-icon,
.more-icon {
  height: 30px;
}

.x-button {
  align-items: center;
  padding-top: 8px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.x-button:hover {
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

.x-logo {
  padding-top: 4px;
  margin-bottom: 16px;
}

.nav-button-container {
  display: flex;
}

.nav-button {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 25px;
  margin-top: 6px;
  margin-bottom: 6px;

}

.nav-button:hover {
  background-color: rgb(50, 50, 50);
  cursor: pointer;
}

.nav-text {
  font-size: 20px;
  margin-left: 20px;
}

.post-button-1 {
  background-color: rgb(0, 140, 255);
  color: white;
  font-size: 18px;
  font-weight: 700;
  border: none;
  width: 234px;
  height: 52px;
  border-radius: 50px;
  margin-top: 26px;
  margin-left: -14px;
}

.post-button-1:hover {
  cursor: pointer;
  background-color: rgb(0, 111, 201);
}

.profile-card {
  display: flex;
  align-items: center;
  margin-top: 192px;
  height: 60px;
}

.profile-card:hover {
  background-color: rgb(20, 20, 20);
  border-radius: 50px;
  cursor: pointer;
}

.pfp-container {
  height: 36px;
  margin-top: 0px;
  margin-left: 10px;
  padding-right: 20px;
}

.profile-picture {
  height: 36px;
  width: 36px;
  object-fit: cover;
  object-position: center;
  border-radius: 18px;
}

.profile-info {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 50px;
}

.profile-name {
  font-weight: 700;
  margin-bottom: 6px;
}

.profile-tag {
  color: rgb(150, 150, 150);
}

.three-dots {
  height: 18px;
  padding-top: 6px;
}

@media (max-width: 1300px) {
  .nav-list {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 176px;
    padding-left: 0;
    align-items: end;
  }

  .nav-text {
    opacity: 0;
  }
}
