.search-section {
  position: fixed;
  top: 0;
  right: 0;
  left: 1196px;
  height: 56px;
  width: 384px;
  background-color: black;
  z-index: 200;
}

.search-bar-holder {
  display: flex;
  padding-top: 4px;
  margin-bottom: 20px;
  padding-left: 26px;
  align-items: center;
  position: relative;
}

.search-icon-background {
  display: flex;
  align-items: center;
  height: 40px;
  position: absolute;
}

.search-icon {
  display: flex;
  width: 16px;
  height: 16px;
  padding-left: 20px;
}

.search-bar {
  background-color: rgb(22, 23, 30);
  border: none;
  width: 300px;
  height: 44px;
  border-radius: 50px;
  padding-left: 54px;
  font-size: 15px;
}

.sidebar-right {
  border-left: solid 1px rgb(55, 55, 55);
  padding-left: 1224px;
}

.subscribe-ad {
  background-color: rgb(22, 23, 30);
  height: 140px;
  width: 350px;
  margin-top: -130px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.subscribe-main {
  font-size: 20px;
  font-weight: 700;
  padding-top: 14px;
  padding-left: 20px;
}

.subscribe-info {
  width: 280px;
  padding-top: 10px;
  padding-left: 20px;
}

.subscribe-button {
  background-color: rgb(0, 140, 255);
  color: white;
  margin-top: 16px;
  margin-left: 16px;
  font-weight: 700;
  font-size: 16px;
  border: none;
  width: 110px;
  height: 34px;
  border-radius: 50px;
}

.trends-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 23, 30);
  border-radius: 20px;
  width: 350px;
}

.trends-header {
  font-weight: 700;
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 20px;
  padding-left: 16px;
}

.trend {
  display: flex;
  justify-content: space-between;
}

.trend-topic {
  padding-left: 14px;
  margin-bottom: 26px;
}

.trend-text{
  padding-bottom: 6px;
  color: rgb(155, 155, 155);
  font-size: 12px;
}

.trending-subject {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 6px;
}

.trend-posts {
  color: rgb(155, 155, 155);
  font-size: 12px;
}

.three-dots {
  padding-right: 20px;
  margin-top: -2px;
}

.show-more {
  padding-left: 16px;
  padding-bottom: 20px;
  color: rgb(0, 140, 255);
  font-size: 15px;
}

.follow-recommends {
  background-color: rgb(22, 23, 30);
  margin-top: 20px;
  height: 300px;
  width: 350px;
  border-radius: 20px;
}

.follow-main {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.profile-card-2 {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 20px;
}

.profile-picture-2 {
  height: 44px;
  width: 44px;
  object-fit: cover;
  object-position: top;
  border-radius: 50px;
  padding-right: 10px;
}

.profile-info-2 {
  width: 100px;
  padding-right: 80px;
}

.profile-name-2 {
  font-weight: 700;
  margin-bottom: 6px;
}

.profile-tag-2 {
  color: rgb(150, 150, 150);
}

.follow-button {
  background-color: rgb(255, 255, 255);
  color: black;
  margin-top: 0px;
  margin-left: 0px;
  font-weight: 700;
  border: none;
  width: 80px;
  height: 32px;
  border-radius: 50px;
}

.show-more-2 {
  padding-top: 30px;
  padding-left: 16px;
  color: rgb(0, 140, 255);
  font-size: 15px;
}
